body {
  text-align: center;

}

.todos-list {
  list-style-type: none;
  margin: 20px auto 0;
  padding: 0;
}

.todos-list li:nth-child(even) {
  background-color: #2dffc0;
}

.container {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}