$present: green;
$absent: red;
$summary: darkblue;

.present:hover {
    background-color: $present;
    color: white;
}
.absent:hover {
    background-color: $absent;
    color: white;
}
.summary:hover {
    background-color: $summary;
    color: white;
}
